/* в каждом браузере есть уже заданное значение внешнего и внутреннего отступа, чтобы
его убрать нужно обратиться ко всему html файлу через "*" и убрать через margin и
padding убрать отступы*/
*{
  margin: 0;
  padding: 0;
}
.blocks {
  background: red;
/*высоту можно указывать в %, в пикселях px и в относительных единицах vh (view height)
если говорить про высоту, лучше использовать vh чем проценты*/
height: 200px;
/*ширину указывают наоборот в % чем в vw (view width)*/
width: 200px;
/*border отвечают за обводку, 1 параметр это размер, 2 стиль обводки, 3 цвет*/
/*border-left, bottom, right и тд отвечают за стороны обводки, можно выбрать конкретную
сторону и добавить туда элементы, у нее есть дальнейшие свойства border-left-style*/
/*border-style отвечает за стиль обводки в целом*/
border: 10px solid purple;
border-bottom: 0;
border-top-style: dashed;
border-style: groove;
/*border-radius отвечает за обрезание углов обводки, первое значение отвечает за обрезку
в целом, но если добавить 2 значение, то 2 значение отвечает за обрезку со 2 стороны
диагонали, 1 значение за обрезку 1 стороны диагонали. И так далее если добавлять значение,
то идет по часовой стрелке изменения сторон обрезки*/
border-radius: 15px 50%;
/*opacity означает прозрачность объекта, по умолчанию значение равняется 1, но если
уменьшить значение, то будет видно что находится за этим объектом*/
opacity: 0.9;
/*margin отвечает за внешний отступ, так же, как и border может быть добавлен к любому краю
margin-top, maring-left  и т.д. Если добавлять 2 значение, то оно отвечает
за отступы по бокам, если добавить 3 значение, то оно отвечает за отступы снизу.
Если добавить 4 значение, то оно отвечает за отступы с левой боковой стороны*/
margin: 20px 50px;
/*Padding отвечает за внутренний отступ, может быть добавлен к padding-top, padding-left
и т.д. Так же, как и maring можно добавлять нексколько значений padding: 20px 100px 300px 400px*/
padding: 20px;
/*Height и width можно добавлять только к блочным элементам, а в span нельзя,еще к
<b>,<em> и тд. Не работают margin-top, -bottom и padding-top,-bottom, но боковые работают*/
/*Для того, чтобы из блочных объектов сделать строчный используется такое свойство как
display, в ней выбирается incline(строчный),либо же наоборот из строчных объектов сделать
блочный display: block*/
/*Все эти стили используется для блочных элементов, которые занимают всю ширину экрана
<p>,<h1>,<div> и тд(header, footer, aside, main)*/
display: block;
}
