@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
/*используется для шрифтов, добавляется его url через сайт, вкладка @import*/
.main-text {
  color: red;
}
#text-p {
  color: blue;
}
div p b, div i {
  color: green;
}
/*div, div p b, #text-p, .main-text {
  color: black;
} так делаются комментарии в css*/
.text_1{
  color:#000;
  /*text-align означает за расположение текста, по умолчанию идет слева, justify
  означает по ширине и идет на всю страницу*/
  text-align: justify;
  /*font-size отвечает за размер шритфа, по умолчанию идет 14px, есть значение
  em, он увеличивает значение по умолчанию (2em) означает в 2 раза увеличино
  значение по умолчанию*/
  font-size: 1.2em;
  /*font-style делает шрифт курсивным, по умолчанию стоит normal*/
  font-style: normal;
  /*font-weight делает шрифт жирным, есть bold который делает его жирным, а есть
  bolder что делает его еще жирнее, но некоторые шрифты не поддерживают его.
  При импорте шрифтов указываются их толщина в цифрах и эти значения можно вписать сюда*/
  font-weight: 400;
/*font-family используется для стилей, можно выбрать существующие, либо доавить
через google fonts и указать в самом вверху css файла, они добавляются до селекторов*/
  font-family: 'Goldman', cursive;
/*text-transform  делает текст в каком-либо регистре, lowercase нижний регистр весь текст,
uppercase в верхнем регистре весь текст, capitalize каждое слово в тексте, начинается с
верхнего регистра*/
  text-transform: capitalize;
  /*word-spacing создает пространство между словами*/
  word-spacing: 20px;
/*letter-spacing создает пространство между каждым символом, может иметь отрицательное
значение*/
  letter-spacing: 3px;
/*line-height cоздает пространство между строками в тексте, типа расстояние после нажатия
интера*/
  line-height: 50px;
}
